$color-shadow: #BABECC;

div.RaffleContainer{
    margin: 20px auto; 
    max-width: 800px; 
    box-shadow: 1px 1px 1px  1px gray;
    border-radius: 10px;
    // background-color: white;s
    height: 25vh;
    overflow-y: scroll;
    // font-family: 'Raleway', sans-serif;
    &__Card{
        border: solid $color-shadow 1px;
        width: 380px;
        margin-bottom: 10px;
        box-shadow: 2px 2px 2px gray;
        border-radius: 10px;
        font-size: 18px;
        height: 100px;
    }
    &__Title{
        font-size: 25px;
        font-weight: bold;
        margin: 10px
    }
    &__Name, &__Created, &__Raffled{
        margin: 5px;
    }
    a{
        text-decoration: none;
        color: black;
    
    
    }
    
}
